## forecast comparison example - Copyright 2016 Matthew Wall
## $Id: index.html.tmpl 1467 2016-03-14 15:36:18Z mwall $
#errorCatcher Echo
#encoding UTF-8

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>Forecast Sampler</title>
  <style>
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}
h1 {
  font-size: 110%;
  font-weight: bold;
}
h2 {
  font-size: 100%;
  font-weight: bold;
}
.issued {
  font-size: 8pt;
  font-style: italic;
  color: #aaaaaa;
}
  </style>
</head>
<body>

  <div>
    <p>Temperatures Compared</p>
    <img src="fc_temp.png" title="Temperatures"/>
    <p>Probability of Precipitation Compared</p>
    <img src="fc_pop.png" title="Propability of Precipitation"/>
    <p>Wind Speed Compared</p>
    <img src="fc_windSpeed.png" title="Wind Speed"/>
  </div>
  <div>
    <p>WU Temperatures</p>
    <img src="wu_temp.png" title="WU Temperatures"/>
    <p>WU Probability of Precipitation</p>
    <img src="wu_pop.png" title="WU Propability of Precipitation"/>
    <p>WU Wind Speed</p>
    <img src="wu_windSpeed.png" title="WU Wind Speed"/>
  </div>
  <div>
    <p>Aeris Temperatures</p>
    <img src="aeris_temp.png" title="Aeris Temperatures"/>
    <p>Aeris Probability of Precipitation</p>
    <img src="aeris_pop.png" title="Aeris Propability of Precipitation"/>
    <p>Aeris Wind Speed</p>
    <img src="aeris_windSpeed.png" title="Aeris Wind Speed"/>
  </div>
  <div>
    <p>NWS Temperatures</p>
    <img src="nws_temp.png" title="NWS Temperatures"/>
    <p>NWS Probability of Precipitation</p>
    <img src="nws_pop.png" title="NWS Propability of Precipitation"/>
    <p>NWS Wind Speed</p>
    <img src="nws_windSpeed.png" title="NWS Wind Speed"/>
  </div>

</body>
</html>
