#errorCatcher Echo
## forecast sampler skin for weewx - Copyright 2014 Matthew Wall
## $Id: compact.html.tmpl 1637 2016-12-25 04:41:41Z mwall $
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Forecast Sampler: Compact</title>
  <link rel='stylesheet' type='text/css' href='forecast.css'/>
  <link rel='stylesheet' type='text/css' href='forecast_compact.css'/>
</head>
<body>

<h1>Compact Forecast</h1>

#include "forecast_compact.inc"

</body>
</html>
