/* css for forecast sampler */

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
h1 {
  font-size: 110%;
  font-weight: bold;
}
h2 {
  font-size: 100%;
  font-weight: bold;
  padding-top: 30px;
}
.issued {
  font-size: 8pt;
  font-style: italic;
  color: #aaaaaa;
}
