#errorCatcher Echo
## forecast sampler skin for weewx - Copyright 2014 Matthew Wall
## $Id: index.html.tmpl 1780 2018-01-27 15:27:02Z mwall $
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Forecast Sampler</title>
  <link rel='stylesheet' type='text/css' href='forecast.css'/>
</head>
<body>

<p>
This skin illustrates the use of data from the forecasting module.
</p>

<p>
<a href="single-table.html">single table</a><br/>
<a href="multiple-tables.html">multiple tables</a>
</p>
<p>
<a href="single-strip.html">single strip horizontal</a><br/>
<a href="single-strip-vertical.html">single strip vertical</a><br/>
<a href="multiple-strips.html">multiple strips</a>
</p>
<p>
<a href="iconic.html">iconic vertical</a><br/>
<a href="iconic-horizontal.html">iconic horizontal</a>
</p>
<p><a href="compact.html">compact</a></p>
<p><a href="forecast-periods.html">forecast periods</a></p>
<p><a href="zambretti.html">zambretti</a></p>
<p><a href="meteoplot.html">meteoplot</a></p>
<p>
<a href="tides.html">tides</a><br/>
<!-- <a href="tides-graphic.html">tides graphic</a> -->
</p>

<p>
<small>
forecast version: $forecast.version<br/>
</small>
</p>

</body>
</html>
