#errorCatcher Echo
## forecast sampler skin for weewx - Copyright 2014 Matthew Wall
## $Id: single-table.html.tmpl 1635 2016-12-24 23:15:16Z mwall $
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Forecast Sampler: Table</title>
  <link rel='stylesheet' type='text/css' href='forecast.css'/>
  <link rel='stylesheet' type='text/css' href='forecast_table.css' />
</head>
<body>

<h1>Forecast Table</h1>
<p>
Display forecast data in a table format by including the table template.
</p>

#include "forecast_table.inc"

</body>
</html>
